@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CursoHeaderPDF</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="row">
        <div class="col-sm-4" align="center">
            <img src="../../images/portada-trassierra.jpg" />
        </div>
        <div class="col-sm-8 text-right">
            <h1>Lista de Cursos</h1>
        </div>
    </div>
</body>
</html>
